<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mion妙妙屋</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <form class="login-email" action="/auth/login_host" method="post">
            <h1>欢迎来到Mion妙妙屋</h1>
            <h3>{{error}}</h3>
            <input type="text" name="miaomiaocode" id="email" placeholder="请输入妙妙屋的奇妙咒语~">
            <input type="submit" value="进入妙妙屋" class="submit">
        </form>
    </main>
</body>
</html>